import React, { useState, useEffect } from 'react';
import './style/index.module.scss';


const {{ properCase dir }} : React.FC<> = (props) => {

    useEffect(() => {

    }, []);

    return(
        <div>

        </div>
    )
}

export default {{ properCase dir }};