//menu默认导航样式：顶级导航
* {
  box-sizing: border-box;
  ul {
    width: 100%;
    list-style: none; //取消默认装饰
    background-color: white;
  }
  li {
    height: 45px;
    list-style: none; //取消默认装饰
    cursor: pointer; //鼠标样式指针
  }
  span {
    display: inline-block;
    width: 100%;
  }
}

.main {
  //组件基本样式
  li {
    width: auto;
    // flex-grow: 1;
    height: auto;
    padding: 0 16px;
    line-height: 45px;
    > div {
      width: 100%;
      height: 100%;
    }
  }
}

.topUl {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  //topUl下的首个Menu要绝对定位
  > li {
    width: auto;
    > div {
      //子绝父相
      position: relative;

      > ul {
        position: absolute;
        left: 0;
        z-index: 1;
        //隐藏
        transform: scaleY(-0);
        opacity: 0;
        transition: ease-in-out 0.1s;
      }

      > div {
        height: auto;
        color: bisque;
      }
      &:hover {
        > ul {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

/* ItemLi 悬浮变色 */
.ItemLi {
  border-radius: 3px;
  &:hover {
    background-color: rgba(165, 165, 165, 0.3);
  }
}

//二级menu样式：submenu
.subUl {
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* group类型 */
.group {
  > span {
    display: flex;
    justify-content: flex-start;
    color: rgba(138, 138, 138, 0.8);
  }
}

.subSpanClicked {
  color: rgb(57, 121, 207);
}

/* theme相关 */
.night {
  color: rgba(255, 255, 255, 0.65);
  background-color: rgb(4, 16, 37);
  .subSpanClicked {
    color: white;
  }
  /* night下悬浮无色 */
  .ItemLi {
    background-color: none;
  }
  .ItemClicked {
    color: white;
    background-color: rgb(57, 121, 207);
    &:hover {
      color: white;
    }
  }
  /* disable样式 */
  .disable {
    color: gray;
    cursor: not-allowed;
  }
}

.light {
  color: black;
  background-color: rgb(255, 255, 255);
  .subSpanClicked {
    color: rgb(57, 121, 207);
  }
  .ItemClicked {
    color: rgb(57, 121, 207);
    background-color: rgba(102, 156, 220, 0.4);
    &:hover {
      background-color: none;
    }
  }
  /* disable样式 */
  .disable {
    color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
  }
}

/* disable样式 */
.disable {
  color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
